<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,338}</string>
                <key>spriteSourceSize</key>
                <string>{442,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{442,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_quit_normal_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,72}</string>
                <key>spriteSourceSize</key>
                <string>{236,72}</string>
                <key>textureRect</key>
                <string>{{1,341},{236,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_quit_pressed_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,72}</string>
                <key>spriteSourceSize</key>
                <string>{236,72}</string>
                <key>textureRect</key>
                <string>{{239,341},{236,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_restart_normal_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{234,72}</string>
                <key>spriteSourceSize</key>
                <string>{236,72}</string>
                <key>textureRect</key>
                <string>{{239,489},{234,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_restart_pressed_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,72}</string>
                <key>spriteSourceSize</key>
                <string>{236,72}</string>
                <key>textureRect</key>
                <string>{{1,415},{236,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_resume_normal_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,72}</string>
                <key>spriteSourceSize</key>
                <string>{236,72}</string>
                <key>textureRect</key>
                <string>{{239,415},{236,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_resume_pressed_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,72}</string>
                <key>spriteSourceSize</key>
                <string>{236,72}</string>
                <key>textureRect</key>
                <string>{{1,489},{236,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamemenu.png</string>
            <key>size</key>
            <string>{476,562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6deb2adf37606ffaa9037bf2f2656b8:e94b5bdd5e11c29029e9abbb3a313f02:7aa77335593acae0f10e5a18aefd79f6$</string>
            <key>textureFileName</key>
            <string>gamemenu.png</string>
        </dict>
    </dict>
</plist>
