<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MenuCenter_01_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,52}</string>
                <key>spriteSourceSize</key>
                <string>{236,52}</string>
                <key>textureRect</key>
                <string>{{1,379},{236,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MenuCenter_02_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,42}</string>
                <key>spriteSourceSize</key>
                <string>{138,42}</string>
                <key>textureRect</key>
                <string>{{239,377},{138,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MonsterHP01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,12}</string>
                <key>spriteSourceSize</key>
                <string>{52,12}</string>
                <key>textureRect</key>
                <string>{{509,333},{52,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MonsterHP02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,8}</string>
                <key>spriteSourceSize</key>
                <string>{48,8}</string>
                <key>textureRect</key>
                <string>{{387,485},{48,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>countdown_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,116}</string>
                <key>spriteSourceSize</key>
                <string>{98,116}</string>
                <key>textureRect</key>
                <string>{{401,1},{98,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>countdown_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,116}</string>
                <key>spriteSourceSize</key>
                <string>{96,116}</string>
                <key>textureRect</key>
                <string>{{401,119},{96,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>countdown_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,116}</string>
                <key>spriteSourceSize</key>
                <string>{74,116}</string>
                <key>textureRect</key>
                <string>{{399,217},{74,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>countdown_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,194}</string>
                <key>spriteSourceSize</key>
                <string>{198,194}</string>
                <key>textureRect</key>
                <string>{{203,177},{198,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>countdown_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,177},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>finalwave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,174}</string>
                <key>spriteSourceSize</key>
                <string>{398,174}</string>
                <key>textureRect</key>
                <string>{{1,1},{398,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forbidden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{475,277},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{501,1},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{501,39},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{501,77},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{475,217},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{239,421},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{313,421},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{387,413},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{459,413},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sell_80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{76,78}</string>
                <key>textureRect</key>
                <string>{{1,433},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>showupgrade01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{477,333},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>showupgrade02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{477,371},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_-180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{76,78}</string>
                <key>textureRect</key>
                <string>{{79,433},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_0_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{399,335},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{76,78}</string>
                <key>textureRect</key>
                <string>{{157,433},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item2.png</string>
            <key>size</key>
            <string>{534,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:123623a68c4c6d018b712ab1ed5ecbb9:a08b2faaf5754cb8bd0b7a3d5eff7977:58f02e72c280218bd959c1dc16c9c223$</string>
            <key>textureFileName</key>
            <string>item2.png</string>
        </dict>
    </dict>
</plist>
