<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,90}</string>
                <key>spriteSourceSize</key>
                <string>{174,90}</string>
                <key>textureRect</key>
                <string>{{521,1085},{174,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_adventure_normal_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,122}</string>
                <key>spriteSourceSize</key>
                <string>{296,122}</string>
                <key>textureRect</key>
                <string>{{1,943},{296,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_adventure_pressed_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,122}</string>
                <key>spriteSourceSize</key>
                <string>{296,122}</string>
                <key>textureRect</key>
                <string>{{537,643},{296,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_boss_normal_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,94}</string>
                <key>spriteSourceSize</key>
                <string>{294,94}</string>
                <key>textureRect</key>
                <string>{{537,893},{294,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_boss_pressed_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,94}</string>
                <key>spriteSourceSize</key>
                <string>{294,94}</string>
                <key>textureRect</key>
                <string>{{521,989},{294,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{823,767},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_help_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{287,1139},{100,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_nest_normal_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,124}</string>
                <key>spriteSourceSize</key>
                <string>{284,124}</string>
                <key>textureRect</key>
                <string>{{1,1067},{284,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_nest_pressed_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,124}</string>
                <key>spriteSourceSize</key>
                <string>{284,124}</string>
                <key>textureRect</key>
                <string>{{537,767},{284,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_setting_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{389,1139},{100,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_setting_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{889,759},{100,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>carrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,194}</string>
                <key>spriteSourceSize</key>
                <string>{220,194}</string>
                <key>textureRect</key>
                <string>{{299,943},{220,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>code_close_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{815,1133},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>code_close_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{885,1133},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,114}</string>
                <key>spriteSourceSize</key>
                <string>{124,114}</string>
                <key>textureRect</key>
                <string>{{835,643},{124,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,142}</string>
                <key>spriteSourceSize</key>
                <string>{140,142}</string>
                <key>textureRect</key>
                <string>{{817,989},{140,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{116,110}</string>
                <key>textureRect</key>
                <string>{{697,1085},{116,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{86,76}</string>
                <key>textureRect</key>
                <string>{{833,869},{86,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mainbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,640}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{960,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainbg_CN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{534,298}</string>
                <key>spriteSourceSize</key>
                <string>{534,298}</string>
                <key>textureRect</key>
                <string>{{1,643},{534,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mainscene.png</string>
            <key>size</key>
            <string>{962,1202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46b4c7bc2b0b4212cb2b81fbb6d8aa12:1f23ae977437e9c7d03aa50c8b2f3cd8:3ad60f9602a56424aca7594a61419782$</string>
            <key>textureFileName</key>
            <string>mainscene.png</string>
        </dict>
    </dict>
</plist>
