<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ss_map01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,167}</string>
                <key>spriteSourceSize</key>
                <string>{253,167}</string>
                <key>textureRect</key>
                <string>{{254,170},{249,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss_map02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,167}</string>
                <key>spriteSourceSize</key>
                <string>{253,167}</string>
                <key>textureRect</key>
                <string>{{507,1},{249,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss_map03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,167}</string>
                <key>spriteSourceSize</key>
                <string>{253,167}</string>
                <key>textureRect</key>
                <string>{{254,339},{249,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss_map04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,167}</string>
                <key>spriteSourceSize</key>
                <string>{253,167}</string>
                <key>textureRect</key>
                <string>{{505,170},{249,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss_map05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,167}</string>
                <key>spriteSourceSize</key>
                <string>{253,167}</string>
                <key>textureRect</key>
                <string>{{758,1},{249,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss_map06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,167}</string>
                <key>spriteSourceSize</key>
                <string>{253,167}</string>
                <key>textureRect</key>
                <string>{{505,339},{249,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss_map07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,167}</string>
                <key>spriteSourceSize</key>
                <string>{253,167}</string>
                <key>textureRect</key>
                <string>{{756,170},{249,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss_map08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,167}</string>
                <key>spriteSourceSize</key>
                <string>{253,167}</string>
                <key>textureRect</key>
                <string>{{1,1},{251,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss_map09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,167}</string>
                <key>spriteSourceSize</key>
                <string>{253,167}</string>
                <key>textureRect</key>
                <string>{{1,170},{251,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss_map10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,167}</string>
                <key>spriteSourceSize</key>
                <string>{253,167}</string>
                <key>textureRect</key>
                <string>{{756,339},{249,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss_map11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,167}</string>
                <key>spriteSourceSize</key>
                <string>{253,167}</string>
                <key>textureRect</key>
                <string>{{254,1},{251,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss_map12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,167}</string>
                <key>spriteSourceSize</key>
                <string>{253,167}</string>
                <key>textureRect</key>
                <string>{{1,339},{251,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stage.png</string>
            <key>size</key>
            <string>{1008,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3496fda47ae3e0007649bd25ec50a1ca:cb670987b2877f3e1256736218f4f225:7eb5439bbe0a439972743765553c9929$</string>
            <key>textureFileName</key>
            <string>stage.png</string>
        </dict>
    </dict>
</plist>
